
body {
	background-color: black;
}

button {
	border: 3px solid;
	border-radius: 50%;
	width: 195px;
	height: 195px;
	background-color: gold;
	font-size: 1.5em;
}

a {
	margin: 10px;

}

.bar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.foo {
	max-width: 200px;
	min-width: 70px;
} 

@media screen and (max-width: 412px) {
	img {
		width: 125px;
	}
}

@media screen and (max-width: 412px) {
	button {
		width: 125px;
		height: 125px;
	}
}

h1 {
	color: white;
	text-align: center;
	margin-bottom: 2em;
}