---
let title = 'FrontPage';
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{title}</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style global>
			@import "../styles/global.css";
		</style>
	</head>
	<body>
		<main>
			<header>
				<div>
					<h1>Welcome to My Site</h1>
				</div>
			</header>

			<div class="bar">
				<a href="https://joettevisitastro.pages.dev/" ><img class="foo" src="/assets/circalthumb/circalAvatar2.webp" alt="fuckit" /></a>
				<a href="https://dadastro.pages.dev/" ><img class="foo" src="/assets/circalthumb/d1CThumb.webp" alt="fuckit" /></a>
				<a href="https://tobisvelte.pages.dev/" ><img class="foo" src="/assets/circalthumb/p4CThumb2.webp" alt="fuckit" /></a>
				<a href="https://texastripastro.pages.dev/" ><img class="foo" src="/assets/circalthumb/TexasTripCThumb.webp" alt="fuckit" /></a>
				<a class="boo" href="https://tripvidsastro.pages.dev"><button>Video</button></a>
			</div>
		</main>
	</body>
</html>
