---
let title = 'FrontPage';
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{title}</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style >
			@import "../styles/global.css";
		</style>
	</head>
	<body>
		<main>
			<header>
				<div>
					<h1>Welcome to My Site</h1>
				</div>
			</header>

			<div class="bar">
				<a href="https://joettevisitastro.pages.dev/" ><img class="foo" src="/assets/circalthumb/circalAvatar2.webp" alt="fuckit" /></a>
				<a href="https://dadastro.pages.dev/" ><img class="foo" src="/assets/circalthumb/d1CThumb.webp" alt="fuckit" /></a>
				<a href="https://tobiastro2.pages.dev/" ><img class="foo" src="/assets/circalthumb/p4CThumb2.webp" alt="fuckit" /></a>
				<a href="https://texastripastro.pages.dev/" ><img class="foo" src="/assets/circalthumb/TexasTripCThumb.webp" alt="fuckit" /></a>
				<a class="boo" href="https://tripvidsastro.pages.dev"><button>Video</button></a>
			</div>
		</main>

		<!-- <h1>Some Cool Links</h1> -->

		<div class="bar">
			<a href="http://alphatree.services"><p style="font-size: 1.7em;color:aquamarine">AlphaTree Service Main Site</p></a>
			<a href="http://atsio.xyz"><p style="font-size: 1.7em;color:aquamarine">AlphaTree Service Staging Site</p></a>
		</div>
		<br>
		<h1>Space stuff</h1>
		<div class="bar">
			<a href="https://www.jwst.nasa.gov"><p style="font-size: 1.7em;color:aquamarine">James Webb Space Telescope</p></a>
			<a href="https://www.nasa.gov/mission_pages/hubble/main/index.html"><p style="font-size: 1.7em;color:aquamarine">Hubble Space Telescope</p></a>
			<a href="https://www.nasa.gov/content/goddard/parker-solar-probe"><p style="font-size: 1.7em;color:aquamarine">Parker Solar Probe</p></a>
			<a href="https://www.nasa.gov/mission_pages/soho/index.html"><p style="font-size: 1.7em;color:aquamarine">SOHO</p></a>
			<a href="https://www.jpl.nasa.gov/missions/dsn"><p style="font-size: 1.7em;color:aquamarine">Deep Space Network</p></a>
		</div>
		<div class="bar">
			<a href="https://mars.nasa.gov/technology/helicopter/"><p style="font-size: 1.7em;color:aquamarine">Ingenuity</p></a>
			<a href="https://mars.nasa.gov/msl/home/"><p style="font-size: 1.7em;color:aquamarine">Curiosity</p></a>
		</div>
		<br>
		<h1>Physics stuff</h1>

		<div class="bar">
			<a href="https://www.youtube.com/channel/UC7_gcs09iThXybpVgjHZ_7g"><p style="font-size: 1.7em;color:aquamarine">PBS Space Time</p></a>
			<a href="https://home.cern"><p style="font-size: 1.7em;color:aquamarine">CERN</p></a>
			<a href="https://www.ligo.caltech.edu/WA"><p style="font-size: 1.7em;color:aquamarine">LIGO</p></a>

		</div>
			
		
	</body>
</html>
